<footer>
  <div class= "container-fluid black">
    <div class="row text-center">
      <div class="social col-xs-4">
        <img src="Twitter.png" alt="twitter">
      </div>
      <div class="social col-xs-4">
        <img src="Facebook.png" alt="facebook">
      </div>
      <div class="social col-xs-4">
        <img src="Instagram.png" alt="instagram">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <p>Designed and Developed by Corean Gonzales</p>
      </div>
    </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <p>Copyright 2017</p>
      </div>
    </div>
  </div>
</footer>
</html>
