<% include partials/header.ejs %>
<body id="about">
  <% include partials/nav.ejs%>
  <div class="vertical-center">
<div class="container">
  <div class="row vertical-align">
      <div id="story" class="blackO col-lg-8 col-lg-offset-2 text-center">
        <h1>OUR STORY</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus
          tempor ante, in consectetur risus venenatis eu. Sed eget ex non odio
          molestie eleifend pretium non nisi. Donec ac gravida dolor. Donec id
          luctus mauris. Phasellus sodales lorem ac erat mollis, quis fermentum
          justo malesuada. Sed laoreet tristique mauris, consectetur ultricies
          quam sollicitudin ut. Ut sit amet justo et urna tristique imperdiet.
          Morbi libero urna, auctor a congue quis, tincidunt non purus. Aenean
          eleifend libero eget dui pulvinar ornare nascetur ridiculus mus.
        </p>
      </div>
    </div>
  </div>
</div>
</body>
<% include partials/footer.ejs %>
