<% include partials/header.ejs %>
<body>
  <%include partials/nav.ejs %>
  <div id="contact" class="container-fluid">
    <div class="row negmargin">
      <div class="col-xs-12 col-sm-6 text-center gray vertical-center">
        <div class="wrap">
        <h1>HOURS</h1>
        <p>Monday: Closed</p>
        <p>Tuesday-Thursday: 11 A.M - 8 P.M </p>
        <p>Friday-Saturday: 11 A.M - 10 P.M </p>
        <p>Sunday: 10 A.M - 7 P.M </p>
      </div>
    </div>
      <div class="col-xs-12 col-sm-6 text-center rose vertical-center">
        <div class="wrap">
        <h1>LOCATION</h1>
        <p>555 Somewhere Ave</p>
        <p>Somewhere, USA 77777 </p>
        <button type="button" class="btn-default btn-md">RESERVATIONS</button>
      </div>
    </div>
  </div>
</div>
  <%include partials/footer.ejs %>
