<% include partials/header.ejs %>
<body id="landing">
  <div class="vertical-center">
    <div class="container">
      <div class="row">
        <div class="blackO text-center col-lg-8 col-lg-offset-2 col-xs-8
        col-xs-offset-2">
          <a href="/about"><h1>AZUL</h1></a>
          <h2>Fine Dining With The Best View In Town</h2>
          <a href="/about"><p>ENTER</p></a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
